# Frontend (.env.local)
NEXT_PUBLIC_API_URL=http://localhost:8000/api
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Backend (.env)
DATABASE_URL=sqlite:///./sql_app.db
SECRET_KEY=RRsi9A5x-r4_RfnnH6yR2msoMXP3akkZ6SJTONQtlfE
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# AI Configuration
GEMINI_API_KEY="AIzaSyAWVSADmTnqyiaA54Q7elQ07pjPZpJludM"